body{
  background-color: pink;
}
#cabecera{
  width: auto;
  height: 100px;
  background-color: lightpink;
}
#contenedor{
  background-color: #5DADE2;
  border-radius: 15px;
  border:10px black solid;
  width: 900px;
  height: 500px;
  margin: 0 auto;
}
.boletes{
  border-radius: 50%;
  border:3px black solid;
  height: 200px;
  width: 200px;
  background-color: green;
  float: left;
  margin-top: 30px;
  margin-left: 15px;
}
p{
  color: orange;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  line-height: 0px;
  font-size: 100px;
  margin-left: 78px;
}
